#!/usr/bin/env xdg-open
[Desktop Entry]
BinaryPattern=chrome;
MimeType=
Name=webstorm
Exec=/opt/google/chrome/chrome --no-sandbox https://www.jetbrains.com/webstorm/
Icon=/opt/google/chrome/product_logo_32.png
Type=Application
Terminal=0